@using GrassrootsFloodCtrl.ServiceModel.Grid
@{
    Layout = null;
    var adcdList = ViewData["adcdList"] as List<SelectListItem> ?? new List<SelectListItem>();
    var gridList = ViewData["gridList"] as List<GridViewModel> ?? new List<GridViewModel>();
    //var positionList = ViewData["positionList"] as List<SelectListItem> ?? new List<SelectListItem>();
}
<form class="form-horizontal" id="VillageForm">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-6"><span class="adddtable_ts">*</span>行政村：</label>
                <div class="col-md-5">
                    <select id="villageADCD" name="villageADCD" required="required" class="form-control">
                        <option value="">==请选择==</option>
                        @foreach (var t in adcdList)
                        {
                            <option value="@t.Value" data-type="@t.Text">@t.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-6"><span class="adddtable_ts">*</span>责任人：</label>
                <div class="col-md-5">
                    <input type="text" id="personLiable" name="personLiable" class="form-control" required="required">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-6"><span class="adddtable_ts">*</span>网格类型：</label>
                <div class="col-md-5">
                    <select id="gridName" name="gridName" required="required" class="form-control">
                        <option value="">==请选择==</option>
                        @foreach (GridViewModel item in gridList)
                        {
                            <option data-position="@item.PositionName" value="@item.GridName">@item.GridName</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-6"><span class="adddtable_ts">*</span>网格名称：</label>
                <div class="col-md-5">
                    <input type="text" name="villageGridName" required="required" id="villageGridName" class="form-control">

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="form-group">
                <label class="control-label col-md-4"><span class="adddtable_ts">*</span>联系方式：</label>
                <div class="col-md-6">
                    <input type="text" name="handPhone" id="handPhone" class="form-control" >
                    注：手机或小灵通(格式:区号"-"号码)
                </div>
            </div>
        </div>
    </div>
    @*<div class="row">
        <div class="col-md-16">
            <div class="form-group">
                <label class="control-label col-md-3">职务：</label>
                <div class="col-md-8">
                            @foreach (var t in positionList)
                            {
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="optionsRadiosinline" value="@t.Value">@t.Text
                                </label>
                            }
                        <label>
                            <input type="text" name="position" id="position" placeholder="其他" class="form-control">
                        </label>
         
                    </div>
            </div>
        </div>
    </div>*@
    <input type="hidden" name="position" id="position" placeholder="其他" value="" class="form-control">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-md-3">备注：</label>
                <div class="col-md-8">
                    <textarea id="remarks" name="remarks" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    var _id = "@ViewData["id"]";
    $(function () {
        //初始化
        $("#adcd").select2({
            width: 120
        });
        //网格赋值职务
        $("#gridName").change(function () {
            var ss = $(this).children('option:selected');
            $("#position").val(ss.attr("data-position"));
        });
        if (_id != "0") {
            abp.ajax({
                url: "/api/VillageGrid/GetGridPersonLiable",
                data: { id: _id },
                type: "Get"
            }).done(function (result) {
                if (result || result.rows.length > 0) {
                    var data = result.rows[0];
                    for (var o in data) {
                        if ($(".modal-body #" + o).length > 0) {
                            if ($(".modal-body #" + o).prop("tagName") == "INPUT" || $(".modal-body #" + o).prop("tagName") == "TEXTAREA") {
                                $(".modal-body #" + o).val(data[o]);
                            }
                            if ($(".modal-body #" + o).prop("tagName") == "SELECT") {
                                $(".modal-body #" + o + " option[value='" + data[o] + "']").prop("selected", true).trigger("change");
                                //$(".modal-body #" + o).find("option[value='" + data[o] + "']").prop("selected", true).trigger("change");
                            }
                        }
                    }
                }
            });
        }
        $("input[name='optionsRadiosinline']").click(function () {
            $("#position").val($(this).val());
            if($(this).prop('checked')){
                $("input[name='optionsRadiosinline']").removeAttr('checked');
                $(this).prop('checked','checked');
            }
        });

        //验证
        $('#VillageForm').validate();
        //事件
        $('#btnModalSave').off('click').on('click', function () {
            var $form = $('#VillageForm');
            if (!$form.validate().form()) return false;
            var formData = $form.serializeArray();
            var data = "";
            if (_id == "0") {
                 data = {
                    villageadcd: $("#villageADCD").val(),
                    personLiable: $("input#personLiable").val(),
                    handphone: $("#handPhone").val(),
                    villagegridname: $("#villageGridName").val(),
                    gridname: $("#gridName").val(),
                    position: $("#position").val(),
                    remark: $("#remarks").val()
                };
            } else {
                data = {
                    villageadcd: $("#villageADCD").val(),
                    personLiable: $("input#personLiable").val(),
                    handphone: $("#handPhone").val(),
                    villagegridname: $("#villageGridName").val(),
                    gridname: $("#gridName").val(),
                    position: $("#position").val(),
                    remark: $("#remarks").val(),
                    id:_id
                };
            }
            abp.ajax({
                url: "/api/VillageGrid/SaveVillageGrid",
                data: data,
                type: "POST"
            }).done(function (result) {
                if (data.isSuccess == "false") {
                    abp.notify.warn(data.errorMsg);
                } else {
                    abp.notify.success("操作成功");
                    closeModal();
                    setTimeout(function () {
                        $('#table').bootstrapTable("destroy");
                        initPersonLiable();
                        //window.location.reload();
                    }, 500);
                }
            });
        });
    });
</script>