
@{
    Layout = null;
}
@Styles.Render("~/css/bootstrap-plugin")
<form class="form-horizontal" id="VillageForm">
    <table id="tableRead"
           data-pagination="true"
           data-id-field="id"
           data-page-list="[10, 25, 50]"
           data-side-pagination="server"
           data-click-to-select="true" style="overflow: hidden"></table>
</form>

@Scripts.Render("~/js/plupload")
@Scripts.Render("~/js/bootstrap-plugin")
@Scripts.Render("~/Bundles/vendor/js/bottom")
@Scripts.Render("~/js/plupload")
<script type="text/javascript">
    $(function () {
        initTable();
    })

    //获取参数
    function GetParams(params) {
        var temp = {

            //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
            PageSize: params.limit, //页面大小
            PageIndex: params.offset / params.limit+1, //页码
            order: params.order,
            field: params.sort,
            adcd: "@ViewData["adcd"]",
        };
        return temp;
    }

    //初始化表格
    function initTable() {
        $('#tableRead').bootstrapTable({
            url: "/api/sumAppUser/noInfo",
            queryParams: GetParams,
            striped: true,
            columns: [
                {
                    title: '序号',
                    align: 'center',
                    width: '50',
                    formatter: function(value, row, index) {
                        var option = $("#tableRead").bootstrapTable("getOptions");
                        return  ((option.pageNumber - 1) * option.pageSize) + index + 1;
                    }
                }, {
                    title: '单位名称',
                    field: 'adnm',
                    align: 'center',
                    valign: 'middle',
                    width: '100'
                }, {
                    title: '姓名',
                    field: 'userName',
                    align: 'center',
                    valign: 'middle',
                    width: '100'
                }, {
                    title: '手机',
                    field: 'phone',
                    align: 'center',
                    valign: 'middle',
                    width: '100'
                }
            ]
        });
    }
</script>

